  <tr id=<%= word_entry.id%>>
      <td><%= word_entry.eng_word.downcase %></td>
      <td><% if !word_entry.eng_desc.nil? %>
            <ul>
             <%= word_entry.eng_desc.each do |s| -%>
               <li>(<%= display_voc(s) %>
            <% end %>
            </ul>
          <% end %>
    </td>
  </tr>
