<%= div_for(word_entry, word_entry.eng_word.downcase) do %>
  <tr>
      <td><%= word_entry.eng_word.downcase %></td>
      <td><%= (word_entry.eng_desc != "" ? word_entry.eng_desc : "N/A") %></td>
  </tr>
<% end %>
