<h1>Today's vocab</h1>

<table>
  <tr>
    <th>Eng word</th>
    <th>Eng desc</th>
    <th></th>
  </tr>
<tr>
    <td><%= @voc_item.eng_word.downcase %></td>
    <td><%= @voc_item.eng_desc %></td>
    <td><%= @voc_item.fr_word %></td>
    <td><%= @voc_item.sp_word %></td>
  </tr>

  </div>
</table>

